.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/*Повторяющиеся элементы*/

/*Логотип*/

.logo {
  width: 228px;
  height: 32px;
  border: none;
  background-repeat: no-repeat;
  z-index: 2;
}

/*Элементы таблицы*/

.section-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  padding: 0;
  max-width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  max-width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.link:hover {
  color: blue;
  }

.table {
  display: flex;
  flex-flow: row wrap;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;

}

.table__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_text:nth-child(3) {
  margin-top: 20px;
}


/*Самостоятельные блоки*/



.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #F2F2F2;
  margin-bottom:100px;
}

.header__logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: relative;
  margin: 0;
  padding: 0;
  left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;

}

.header__link {
/*  text-decoration: none;*/
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  background-size: cover;
  z-index: 1;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}


.description {
  display: flex;
  flex-direction: column;
  margin-bottom:100px;
}

.two-columns {
  display: flex;
  max-width: 80%;
  align-self: center;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  max-width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top:30px;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  margin-bottom:100px;
}


.digits-table {
  border: solid blue;
}


.feynman {
  background-color: #F2F2F2;
}

.feynman__section {
  min-height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 0;
  padding: 0;
  width: 648px;
  text-align: center;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__picture {
  position: absolute;
  bottom: 0;
  left: 0;
  align-self: flex-start;
  justify-content: flex-end;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman_section {
  margin-bottom: 90px;
}

.section-title_theme_dark {
  z-index: 2;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark{
  z-index: 2;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__heading_theme_dark {
  z-index: 2;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark{
  z-index: 2;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.theme_dark {
  color: white;
  margin-right: 0;
  z-index: 2;

}

.table__cell_theme_dark {
  width: 200px;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 1;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.footer-author {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.column-links {
  display: inline;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.column-links__link {
  color: white;
  text-decoration: none;
}

.column-links__menu {
  padding-left: 0;
}

.column-links__element {
  list-style-type: none;
}

.footer_column-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.column-links__link-active:hover {
  color: blue;
  }

.social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}